@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;  
}
:root {
    /* seccion colores */
    --acento-luz: #E63946;
    --acento: #A12831;
    --acento-oscuro: #271010;
    --prim: #271010;
    --prim-luz1: #261818;
    --prim-luz2: #393131;
    --prim-luz3: #0D85F5;
    --prim-sombra1: #FEF9F9;
    --prim-sombra2:  #374957;
    --prim-sombra3: #746464;
    --blanco: #FEF9F9;
    --blanco-oscuro: #E5F4FF;
    --negro: #23282B;
    --especial: #34D919; 
    --acentonuevo: #6700dd;
    --error: #f50606;
}
.inicio-container{
    width: 100%;
    height: 700px;
    display: flex;
    background-image: url(../asset/images/fondo.png);
    background-size:cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-inicio-container{
    width: 500px;
    height: 521px;
    padding: 5%;
    display: flex;
    justify-content:center;
    background-color:#261818;
    flex-direction: column;
    align-items:center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.form-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    margin-left: 1em;
    width: 400px;
    height: 300px;
 
    border-radius: 2%;
    padding: 4%;
    margin-top: 2px;
}
.form-inicio label{
    color:var(--blanco);
}
.emailInput{
    padding-bottom: 20px;
}
.retrogema-logo-inicio{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content:center;
    padding-bottom: 30px;   
}
.inputForm {
    margin-top: 1em;
    width: 370px;
    border-radius: 1em;
    background-color: white;
    border: 1px solid var(--blanco-oscuro);
    border-radius: 0.5rem;
    font-family: Roboto;
    color: var(--gris);
    margin-bottom: 1em;
    padding: 0.7em;
    margin-bottom: 0.8em;
}
.inputForm:focus, .btn-inises-container button:focus {
    outline: 2px solid #E63946;
    outline-offset: 4px;
}
.form-inicio label {
    margin-bottom: 0.5em;
}
.btn-inises-container button {
    width: 370px;
    height: 44px;
    background-color:#E63946;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 1.5em;
    color: var(--blanco);
    transition: all 0.3s ease-in-out;
}
.btn-inises-container button:hover {
    background-color: #A12831;
    width: 370px;
    height: 44px;
    border-radius: 1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: normal;
    margin-bottom: 1.5em;
    color: var(--blanco);
    cursor: pointer;
  }
.olvidasteContraseña{
    text-decoration: underline;
    color: var(--blanco);
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.olvidasteContraseña:hover {
    color: var(--acento-luz);
}
/*footer*/
.footerhome{
    display: flex;
    flex-direction: row;
    height: 12em;
    background-color: rgba(57, 49, 49, 1);
    width: auto;
    justify-content: space-evenly;
}

.footerhome button {
    text-align: left;
    display: flex;
    align-items: center;
    border: 0;
    width: auto;
    background-color: rgba(57, 49, 49, 1);;
    color: var(--blanco);
    cursor: pointer;
}

.footerhome div ul.show {
    display: block;
    color: var(--blanco);
    font-size: 8px;
    margin-left: 1.5em;
    list-style: none;
}
.footerhome div ul li:hover {
    color: var(--prim);
}
.footerhome div ul li {
    margin-bottom: 0.5em;
    color: var(--blanco);
}

.footerhome button {
    display: flex;
    align-items: center;
    border: 0;
    width: 7em;
    margin-left: 0;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: default;
    margin-bottom: 0.5em;
}
.footerhome button img {
    display: none;
}
.footerhome .footerulhidden {
    display: flex;
}

.footerulhidden {
    flex-direction: column;
    list-style: none;
    text-align: left;
}
.footerhome div {
    text-align: left;
    margin-top: 1em;
}
.footerhome ul li {
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.5em;
}
.footerhome ul {
    margin-right: 1em;
}
.footerhome div ul.show {
   margin: 0;
}
.footer-logo {
    display: flex; /* Permite el uso de flexbox */
    flex-direction: column; /* Coloca los elementos (logo y copyright) en columna */
    width: 14%;
    padding-top: 30px;
}

.logo-retrogemas {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem; /* Tamaño más pequeño del logo */
    color: var(--acento-luz);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
    margin-bottom: 0.5em; /* Espacio entre el logo y el texto de copyright */
}

.footer-copyright {
    font-family: 'Press Start 2P', cursive;
    margin-top: 8px;
    font-size: 0.5rem; /* Tamaño más pequeño para el texto de copyright */
    color: #aaa;
    text-shadow: 1px 1px 2px #000;
    letter-spacing: 2px; /* Ajusta la separación entre las letras */
    line-height: 1.5;
    
}
/*popup*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    max-width: 400px;
    background: linear-gradient(135deg, #000, #444);
    border: 4px solid var(--acento-luz); /* Borde estilo retro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--acento-luz);
    animation: pop-in 0.5s ease-out; /* Animación de entrada */
}
/* Estilos del contenido del popup */
.popup-content {
    font-family: 'Press Start 2P', cursive; /* Fuente retro */
    color:var(--blanco);
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}
#popup-success {
    background-color: #e0f7e0;
    border: 1px solid #28a745;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
}
.check-icon {
    font-size: 1.5em;
    color: #28a745;
}
.hidden {
    display: none;
}
/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--acento);
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.close-btn:hover {
    transform: scale(1.2);
    color: var(--acento-luz);
}

.popup-message{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    width: 50px;
    height: 20px;
    cursor: pointer;
}
/* Ocultar el pop-up */
.hidden {
    display: none;
}
.diverror{
    width: 500px;
    height: 100px;
}
@keyframes pop-in {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        box-shadow: 0 0 0 var(--acento-luz);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        box-shadow: 0 0 30px var(--acento-luz);
    }
}