@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;  
}
:root {
    /* seccion colores */
    --acento-luz: #E63946;
    --acento: #A12831;
    --acento-oscuro: #271010;
    --prim: #271010;
    --prim-luz1: #261818;
    --prim-luz2: #393131;
    --prim-luz3: #0D85F5;
    --prim-sombra1: #FEF9F9;
    --prim-sombra2:  #374957;
    --prim-sombra3: #746464;
    --blanco: #FEF9F9;
    --blanco-oscuro: #E5F4FF;
    --negro: #23282B;
    --especial: #34D919; 
    --acentonuevo: #6700dd;
    --error: #f50606;
}
.registro{
    background-image: url(../asset/images/fondo-registro.png);
    background-position: center;
    background-size:cover;
    width: auto;
    height: 1161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.registro-container{
    background-color:#261818;
    width: 520px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.registro-container {
    animation: fadeIn 0.8s ease-in-out;
}
.formularioRegistro{
    background-color:#3B3131;
    border: #000 1px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 389px;
    height: 750px;
    padding-left: 10px;
}
.tituloRegistrate{
    display: flex;
    flex-direction: column;
    width: 389px;
    padding-left: 10px;
    align-items:initial;
    padding-bottom: 10px;
}
.tituloRegistrate h3{
  display: flex;
  padding-bottom: 20px;
  font-size: 25px;
  color: var(--blanco);
}
label{
 color: var(--blanco);
}
.inputForm {
    margin-top: 0em;
    width: 370px;
    border-radius: 1em;
    background-color: white;
    border: 1px solid var(--blanco-oscuro);
    border-radius: 0.5rem;
    font-family: Roboto;
    color: var(--gris);
    margin-bottom: 1em;
    padding: 0.7em;
    margin-bottom: 0.8em;
}
.inputForm:hover, .inputForm:focus {
    border-color: #E63946; /* Destaca el campo activo */
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.8); /* Añade un efecto visual */
}
#fname {
    width: 175px;
    height: 40px;
    margin-right: 20px;
    padding-right: 50px;
}
.fname{
    width: 175px;
    height: 40px;
    margin-right: 132px;
    margin-top: 10px;
} 
#lname{
    width: 175px;
    height: 40px;
}

.flastname{
   padding-bottom: 10px; 
}
#nickname, #contraseña, #repetircontraseña{
    width: 370px;
    height: 40px;
}
.espacioInput{
    padding-bottom: 10px;
}
.edad{
    width: 73px;
    height: 40px;
    margin-right: 45px;
}
#edad{
    width: 73px;
    margin-right: 20px;
    height: 40px;
}
#mail{
    width: 278px;
    height: 40px;
}
.obligatorio{
    text-align: left;
    color:var(--blanco);
    font-size: 18px;
}
.btn-captcha-container{
    width: 270px;
    height:40px;
    border-radius: 0.125rem;
    border: 1px solid var(--gris, #000000);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.rectanguloCaptcha {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #000000;
    margin-left: 2em;
    margin-right: 1em;
    display: flex; /* Asegura que el contenido se centre */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Necesario para alinear elementos internos correctamente */
    overflow: hidden; /* Evita que el contenido salga del botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade profundidad */
    border: 1px solid #ccc; /* Borde más claro */
}
.icoerrorhidden {
    display: none;
    width: 80%; /* Ajusta el tamaño de la imagen para que quepa dentro */
    height: auto;
}
.tickvisible {
    display: block;
    width: 80%; /* Ajusta el tamaño */
    height: auto;
}
.registroexitoso p {
    color: black;
}
.img-captcha {
    margin-left: 1em;
    margin-top: 2px;
}
.texto {
    color: black;
    font-size: robotic;
}
.btn-registrarse-container {
    margin-left: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 270px;
    height: 54px;
    background-color: var(--acento-luz);
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.btn-registrarse-container:hover {
    background-color: var(--acento); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra visible */
    transform: scale(1.03); /* Agranda ligeramente el contenedor */
    color: var(--blanco);
}
.btn-registrarse-container:active {
    transform: scale(0.97); /* Reduce el tamaño ligeramente */
}
.btn-registrarse-container button {
    width: 9.9375rem;
    height: 2.8125rem;
    background-color: transparent; /* El botón hereda el fondo del contenedor */
    border: 0;
    color: var(--blanco);
    font-size: 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}
.btn-registrarse-container:hover button {
    color: var(--gris-claro); /* Cambia ligeramente el color del texto en el hover */
}
.retrogema-logo-registrate{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content:center;
    padding-left:8px;
    padding-bottom: 30px;   
}
.links {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blanco);
    list-style: none;
    text-align: left;  
}
/*popup*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el popup */
    width: 35vw; /* Tamaño más pequeño */
    height: 10vh;
    background-color: var(--prim); /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* se asegura de que esté encima de otros elementos */
    padding: 0; /* Sin padding adicional */
    border-radius: 20px; /* Redondea bordes del popup */
}
/* Estilos del contenido del popup */
.popup-content {
    background-color: var(--acentonuevo);
    opacity: 0.8;
    color: var(--blanco);
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    width: 100%; /* Ocupa todo el ancho del popup */
    height: 100%; /* Ocupa todo el alto del popup */
    text-align: center;
    box-sizing: border-box; /* Incluye padding dentro de width y height */
}
#popup-success {
    background-color: #e0f7e0;
    border: 1px solid #28a745;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
}
.check-icon {
    font-size: 1.5em;
    color: #28a745;
}
.hidden {
    display: none;
}
/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    width: 40px;
    height: 20px;
    cursor: pointer;
}
.popup-message{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
    width: 50px;
    height: 20px;
    cursor: pointer;
}
/* Ocultar el pop-up */
.hidden {
    display: none;
}
.diverror{
    width: 500px;
    height: 100px;
}
/*footer*/
.footerhome{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(57, 49, 49, 1);
    width: auto;
}
.footerhome button {
    text-align: left;
    display: flex;
    align-items: center;
    border: 0;
    width: auto;
    background-color: rgba(57, 49, 49, 1);;
    color: var(--blanco);
    cursor: pointer;
}
.footerhome{
    padding-left: 5%;
}
.footerhome div ul.show {
    display: block;
    color: var(--blanco);
    font-size: 8px;
    margin-left: 1.5em;
    list-style: none;
}
.footerhome div ul li:hover {
    color: var(--prim);
}
.footerhome div ul li {
    margin-bottom: 0.5em;
    color: var(--blanco);
}
.footerhome{   
    display: flex;
    flex-direction: row;
    height: 12em;
}
.footerhome button {
    display: flex;
    align-items: center;
    border: 0;
    width: 7em;
    margin-left: 0;
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: default;
    margin-bottom: 0.5em;
}
.footerhome button img {
    display: none;
}
.footerhome .footerulhidden {
    display: flex;
}
.footerhome {
    width: 100%;
    justify-content: space-evenly;
}
.footerulhidden {
    flex-direction: column;
    list-style: none;
    text-align: left;
}
.footerhome div {
    text-align: left;
    margin-top: 1em;
}
.footerhome ul li {
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.5em;
}
.footerhome ul {
    margin-right: 1em;
}
.footerhome div ul.show {
   margin: 0;
}
