@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#la-app-mas-divertida {
  background-image: url("../../images/Section\ La\ app\ más\ divertida\ y\ educativa\ y\ para\ niños\ de\ 3\ años/bg.png");
  height: 894px;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/*   --------------------------------------------------------------------------------------   */
/*   -TEXTOS ARRIBA-   */
#text-container1 {
  width: 428.5px;
  height: 111.3x;
  position: absolute;
  top: 50.5px;
  left: 84px;
  z-index: 100;
}

#text-container1 p {
  font-size: 39.5px;
  color: #1b428f;
  margin: 0;
  padding: 0;
z-index: 100;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-style: SemiBold;
}

#text-container2 {
  width: 595px;
  height: 130px;
  position: absolute;
  top: 200.5px;
  left: 84px;
  z-index: 100;
}

#text-container2 p {
  font-size: 16.85px;
  color: #1b428f;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Regular;
  margin: 0;
  padding: 0;
}
/*   --------------------------------------------------------------------------------------   */

/*   --------------------------------------------------------------------------------------   */
/* -SLIDER- */
#slider-img {
  width: 485px;
  height: 275px;
  border-radius: 77px;
  position: absolute;
  top: 336px;
  left: 168.5px;

  outline: 24px solid #1b5f99;
  outline-offset: 0px;
  z-index: 100;
  transition: opacity 0.5s ease;
}
#slider-container {
 position: relative;
 z-index: 100;
}

/*   --------------------------------------------------------------------------------------   */

/*   --------------------------------------------------------------------------------------   */
/* -SECTION: LA APP MAS DIVERTIDA PARTE DE ABAJO  //  CARDS- */
#la-app-mas-divertida2 {
  height: 890px;
  position: relative;
  z-index: 1;
  overflow: visible;
}

#la-app-mas-divertida2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Máscara sobre los elementos fijos */
  background-color: #ffffff; /* Color del fondo de la sección */
  pointer-events: none; /* Asegura que no interfiera con clics o interacciones */
}

#img-personajeverde {
    height: 505px;
    width: 510px;
    position: absolute;
    top: -370px; /* Si es demasiado negativo, lo sube fuera del área */
    left: 50px; /* Ajusta esta posición si está muy a la izquierda */
    z-index: 3;
}
.personajes-azul-verde#img-personajeverde {
position: relative;
  z-index: 1000;
}

#img-personajeazul {
    width: 386px;
    height: 1150px;
    position: absolute;
    top: -975px; /* Ajusta esta posición */
    right: 0;
    z-index: 999;
}


#img-cards-1 {
  position: absolute;
  width: 280px;
  height: 180px;
  outline: 7.5px solid #1b5f99;
  border-radius: 41px;
  left: 84.5px;
  top: 220px;
  z-index: 9999;
}

#img-cards-2 {
  position: absolute;
  width: 280px;
  height: 180px;
  outline: 7.5px solid #1b5f99;
  border-radius: 41px;
  left: 399.5px;
  top: 220px;
  z-index: 9999;
}

#img-cards-3 {
  position: absolute;
  width: 280px;
  height: 180px;
  outline: 7.5px solid #1b5f99;
  border-radius: 41px;
  left: 714.5px;
  top: 220px;
  z-index: 9999;
  
}

/*   --------------------------------------------------------------------------------------   */

/*   --------------------------------------------------------------------------------------   */
/* -TEXTOS CARDS- */

#p-card1 {
  font-size: 16.85px;
  color: #1b428f;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Regular;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: absolute;
  width: 280px;
  height: 184px;
  bottom: 260px;
  left: 84.5px;
}
#p-card2 {
  font-size: 16.85px;
  color: #1b428f;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Regular;
  z-index: 100;
  margin: 0;
  padding: 0;

  position: absolute;
  width: 280px;
  height: 184px;
  bottom: 260px;
  left: 399.5px;
}
#p-card3 {
  font-size: 16.85px;
  color: #1b428f;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Regular;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: absolute;
  width: 280px;
  height: 184px;
  bottom: 260px;
  left: 714.5px;
}
